progress {
  opacity: 0;
}

.progress-container {
  position: relative;
  display: inline-block;
  background: var(--white);
  height: 15px;
  border-radius: 5px;
  overflow: hidden;
  width: 100%;
}

@keyframes growLineProgressBar {
  0% {
    width: 0;
  }
  100% {
    width: var(--value);
  }
}

.progress-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background: var(--light-pink);
  animation: growLineProgressBar 2s 1 forwards;
}
