@property --pgPercentage {
  syntax: "<number>";
  inherits: false;
  initial-value: 0;
}

@keyframes growProgressBar {
  0% {
    --pgPercentage: 0;
  }
  100% {
    --pgPercentage: var(--value);
  }
}

div[role="progressbar"] {
  --size: 6rem;
  --pgPercentage: var(--value);
  animation: growProgressBar 2s 1 forwards;
  width: var(--size);
  height: var(--size);
  border-radius: 50%;
  display: grid;
  place-items: center;
  background: radial-gradient(
      closest-side,
      var(--main-black) 85%,
      transparent 0 100%,
      white 0
    ),
    conic-gradient(
      var(--light-pink) calc(var(--pgPercentage) * 1%),
      var(--white) 0
    );
  font-family: Helvetica, Arial, sans-serif;
  font-size: calc(var(--size) / 5);
  color: var(--light-pink);
}

div[role="progressbar"]::before {
  counter-reset: percentage var(--value);
  content: counter(percentage) "%";
}
